#title{
    position: relative;
    margin-top: 12rem;
    left: 43%;
}

#button{
    position: absolute;
    left: 56%;

    width: 5rem;
    height: 2rem;
}

input{
    position: absolute;
    left: 40%;
    width: 20rem;
    height: 2rem;
}

.hide{
    display: none;
}