#title{
    position: relative;
    margin-top: 12rem;
    left: 43%;
}

#button{
    position: absolute;
    left: 56%;

    width: 5rem;
    height: 2rem;
}

input{
    position: absolute;
    left: 40%;
    width: 20rem;
    height: 2rem;
}

.hide{
    display: none;
}

#searchResults{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;   
}

